/* General */
.a {
  color: initial;
}

#mainWrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 60px;
  position: relative;
}

.section-heading {
  margin-bottom: 0px;
  float: left;
  width: 100%;
  border-bottom: 3px solid #9d9d9d;
  margin-bottom: 50px;
  margin
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

hr {
  /*margin-bottom: 50px;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin: 30px;
}

/* Mobile/tablet */
.show-on-tablet {
  display: none;
}

.show-on-desktop {
  display: none;
}

@media screen and (max-width: 991px) {
  .show-on-small {
    display: block;
  }

  .hide-on-small {
    display: none;
  }

  p {
    margin-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .show-on-large {
    display: block;
  }

  .hide-on-large {
    display: none;
  }
}

/* Navbar */
.navbar-default {
  background-color: #191919;
}

.navbar-brand:hover {
  color: rgba(255,255,255,.75) !important;
}

ul li a:hover {
  color: rgba(255,255,255,.75) !important;
}

ul li a:active {
  color: black;
}

/* Home */
.homeContent {
  margin-top: 5vh;
}

.profilePic {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profilePic img {
  display: inline;
  /*margin: 0 auto;*/
  margin-top: -20px;
  margin-left: 0px;
  height: 150%;
  width: auto;
}

/* Publications */
.citations a {
  color: black;
}

.citations a:hover {
  color: black !important;
}

/* About */
.about a:hover {
  color: #337ab7 !important;
}

/* Footer */
footer {
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  width: 100%;
}

.footerContent {
  border-top: 1px solid rgba(0,0,0,.1);
}

.icons a {
  color: black;
}

.icons a:hover {
  color: black !important;
  text-decoration: none;
}

.img-icon {
  float: left;
  margin-left: -3px;
  margin-right: 5px;
}

#lattes-icon {
  width: 23px;
}

#cv-icon {
  width: 21px;
}
