<div class="content-section">
  <div class="container">

    <!-- Page title -->
    <div class="row">
      <div class="col-lg-12">
        <h2 ng-if="enUS" class="section-heading">About this website</h2>
        <h2 ng-if="ptBR" class="section-heading">Sobre este site</h2>
      </div>
    </div>

    <!-- Page content-->
    <div class="row about">
      <div class="col-md-12 col-sm-12">
        <h4 ng-if="enUS">
          This website uses the following resources:
        </h4>
        <h4 ng-if="ptBR">
          Este site utiliza os seguintes recursos:
        </h4>

        <br>
        <ul class="about">
          <li>
            <a target="_blank" href="https://angularjs.org/">AngularJS</a>
          </li>
          <br>
          <li>
            <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
          </li>
          <br>
          <li>
            <a target="_blank" href="https://heroku.com">Heroku</a>
          </li>
          <br>
          <li>
            <a target="_blank" href="http://fontawesome.io">Font Awesome</a>
          </li>
          <br>
          <li ng-if="enUS">
            A highly modified version of <a target="_blank" href="https://github.com/BlackrockDigital/startbootstrap-landing-page">Landing Page</a>
          </li>
          <li ng-if="ptBR">
            Uma versão altamente modificada do template <a target="_blank" href="https://github.com/BlackrockDigital/startbootstrap-landing-page">Landing Page</a>
          </li>
          <br>
          <li ng-if="enUS">
            404 page by <a target="_blank" href="http://w3layouts.com/">W3Layouts</a>
          </li>
          <li ng-if="ptBR">
            Tela 404 da <a target="_blank" href="http://w3layouts.com/">W3Layouts</a>
          </li>
          <br>
          <li ng-if="enUS">
            CV icon on the footer made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </li>
          <li ng-if="ptBR">
            Ícone de CV no rodapé feito por <a href="http://www.freepik.com" title="Freepik">Freepik</a> em <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> sob a licença <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
