<div class="content-section">
  <div class="container contact">

    <!-- Page title -->
    <div class="row">
      <div class="col-lg-12">
        <h2 ng-if="enUS" class="section-heading">Talk to Me</h2>
        <h2 ng-if="ptBR" class="section-heading">Contato</h2>
      </div>
    </div>

    <!-- Page content-->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p ng-if="enUS">
          If you would like to reach me, feel free to use one of the icons on the footer or send an e-mail for the following address:
        </p>
        <p ng-if="ptBR">
          Se deseja entrar em contato comigo, fique à vontade para utilizar os recursos nos ícones do rodapé da página ou mande um e-mail para:
        </p>
        <p>
          <ul>
            <li>
              m dot mendelson dot unb at gmail dot com
            </li>
          </ul>
        </p>
      </div>
    </div>

  </div>
</div>
