<div class="content-section">
  <div class="container">

    <!-- Page title -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Home</h2>
      </div>
    </div>

    <!-- Page content -->
    <div class="row homeContent">
      <div class="col-md-3 col-md-offset-1 col-sm-12">
        <div class="profilePic">
          <img class="img-responsive" src="public/img/profile.JPG"/>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-8 col-sm-12 citations">
        <p ng-if="enUS">
          Mateus Mendelson graduated in Computer Engineering at the Universidade de Brasília (2015). As an undergraduate researcher, he received awards for his work at LARA (Laboratory of Automation and Robotics). Also, he played the role of vice-chair of the IEEE RAS Student Chapter at UnB, where he became one of the founders of Project Edubot. Currently, he is a master's student on Mechatronics Systems (advisor: <a target="_blank" href="http://zaghetto.com">Prof. Dr. Alexandre Zaghetto</a>) at the same university and a programmer at Akuntsu Tech.
        </p>
        <p ng-if="ptBR">
          Terminou sua graduação em Engenharia de Computação na Universidade de Brasília (2015). Foi bolsista CNPq no Laboratório de Automação e Robótica (LARA - ENE), cujo trabalho foi agraciado com premiações. Como vice-chair do Capítulo Estudantil da IEEE RAS na UnB (Sociedade de Automação e Robótica), foi um dos fundadores do Projeto Edubot. Atualmente, é mestrando no PPMEC (Programa de Pós-Graduação em Sistemas Mecatrônicos) na UnB sob orientação do <a target="_blank" href="http://zaghetto.com">Prof. Dr. Alexandre Zaghetto</a> e programador na Akuntsu Tech.
        </p>
      </div>
    </div>

  </div>
</div>
