<div class="content-section">
  <div class="container">

    <!-- Page title -->
    <div class="row">
      <div class="col-lg-12">
        <h2 ng-if="enUS" class="section-heading">University</h2>
        <h2 ng-if="ptBR" class="section-heading">Universidade</h2>
      </div>
    </div>

    <!-- UnB FGA 1/2018 -->
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="status.openUnBFGA1_2018">
        <uib-accordion-heading>
          <h4 ng-if="enUS"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.openUnBFGA1_2018, 'glyphicon-chevron-right': !status.openUnBFGA1_2018}"></i>Courses UnB FGA 1/2018</h4>
          <h4 ng-if="ptBR"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.openUnBFGA1_2018, 'glyphicon-chevron-right': !status.openUnBFGA1_2018}"></i>Disciplinas UnB FGA 1/2018</h4>
        </uib-accordion-heading>
        <div class="row content-margin-bottom">
          <div class="col-md-12 col-sm-12">
            <p>
              <ul ng-if="enUS" class="citations">
                <li>
                  <a target="_blank" href="https://matriculaweb.unb.br/graduacao/disciplina.aspx?cod=193704" onclick="eda1_1_2018()">193704</a>: Data Structures 1
                    <ul>
                      <li>
                        4 credits per class: 2 (theory) + 2 (practice)
                      </li>
                      <li>
                        Classes: A and B
                      </li>
                    </ul>
                </li>
                <li>
                  <a target="_blank" href="https://matriculaweb.unb.br/graduacao/disciplina.aspx?cod=201286" onclick="fso_1_2018()">201286</a>: Fundamentals of Operating Systems
                    <ul>
                      <li>
                        4 credits per class: 2 (theory) + 2 (practice)
                      </li>
                      <li>
                        Classes: A
                      </li>
                    </ul>
                </li>
              </ul>

              <ul ng-if="ptBR" class="citations">
                <li>
                  <a target="_blank" href="https://matriculaweb.unb.br/graduacao/disciplina.aspx?cod=193704" onclick="eda1_1_2018()">193704</a>: Estruturas de Dados 1
                    <ul>
                      <li>
                        4 créditos por turma: 2 (teoria) + 2 (prática)
                      </li>
                      <li>
                        Turmas: A e B
                      </li>
                    </ul>
                </li>
                <li>
                  <a target="_blank" href="https://matriculaweb.unb.br/graduacao/disciplina.aspx?cod=201286" onclick="fso_1_2018()">201286</a>: Fundamentos de Sistemas Operacionais
                    <ul>
                      <li>
                        4 créditos por turma: 2 (teoria) + 2 (prática)
                      </li>
                      <li>
                        Turmas: A
                      </li>
                    </ul>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </uib-accordion>

    <!-- UnB FGA 0/2018 -->
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="status.openUnBFGA0_2018">
        <uib-accordion-heading>
          <h4 ng-if="enUS"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.openUnBFGA0_2018, 'glyphicon-chevron-right': !status.openUnBFGA0_2018}"></i>Courses UnB FGA 0/2018</h4>
          <h4 ng-if="ptBR"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.openUnBFGA0_2018, 'glyphicon-chevron-right': !status.openUnBFGA0_2018}"></i>Disciplinas UnB FGA 0/2018</h4>
        </uib-accordion-heading>
        <div class="row content-margin-bottom">
          <div class="col-md-12 col-sm-12">
            <p>
              <ul ng-if="enUS" class="citations">
                <li>
                  Programming basics with LEGO MINDSTORMS
                    <ul>
                      <li>
                        30-hour extracurricular course
                      </li>
                      <li>
                        30 students
                        <!-- <ul>
                          <li>
                            <a class="showIsLink" target="_blank" href="https://photos.app.goo.gl/eBfbrJNkmJu9EfEz1" onclick="pizzaCC_2_2017()">Pizza day - CC</a>
                          </li>
                        </ul> -->
                      </li>
                    </ul>
                </li>
              </ul>

              <ul ng-if="ptBR" class="citations">
                <li>
                  Princípios de Programação com LEGO MINDSTORMS
                    <ul>
                      <li>
                        Curso de extensão
                      </li>
                      <li>
                        30 alunos
                        <!-- <ul>
                          <li>
                            <a class="showIsLink" target="_blank" href="https://photos.app.goo.gl/eBfbrJNkmJu9EfEz1" onclick="apc()">Dia da pizza - CC</a>
                          </li>
                        </ul> -->
                      </li>
                    </ul>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </uib-accordion>

    <!-- UnB FGA 2/2017 -->
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="status.openUnBFGA2_2017">
        <uib-accordion-heading>
          <h4 ng-if="enUS"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.openUnBFGA2_2017, 'glyphicon-chevron-right': !status.openUnBFGA2_2017}"></i>Courses UnB FGA 2/2017</h4>
          <h4 ng-if="ptBR"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.openUnBFGA2_2017, 'glyphicon-chevron-right': !status.openUnBFGA2_2017}"></i>Disciplinas UnB FGA 2/2017</h4>
        </uib-accordion-heading>
        <div class="row content-margin-bottom">
          <div class="col-md-12 col-sm-12">
            <p>
              <ul ng-if="enUS" class="citations">
                <li>
                  <a target="_blank" href="https://matriculaweb.unb.br/graduacao/disciplina.aspx?cod=113476" onclick="apc()">113476</a>: Algorithms and Computer Programming
                    <ul>
                      <li>
                        6 credits per class: 2 (theory) + 4 (practice)
                      </li>
                      <li>
                        Classes: CC and FF
                        <ul>
                          <li>
                            <a class="showIsLink" target="_blank" href="https://photos.app.goo.gl/eBfbrJNkmJu9EfEz1" onclick="pizzaCC_2_2017()">Pizza day - CC</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
              </ul>

              <ul ng-if="ptBR" class="citations">
                <li>
                  <a target="_blank" href="https://matriculaweb.unb.br/graduacao/disciplina.aspx?cod=113476" onclick="apc()">113476</a>: Algoritmos e Programação de Computadores
                    <ul>
                      <li>
                        6 créditos por turma: 2 (teoria) + 4 (prática)
                      </li>
                      <li>
                        Turmas: CC e FF
                        <ul>
                          <li>
                            <a class="showIsLink" target="_blank" href="https://photos.app.goo.gl/eBfbrJNkmJu9EfEz1" onclick="pizzaCC_2_2017()">Dia da pizza - CC</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </uib-accordion>

  </div>
</div>
